NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=

E2B_API_KEY=e2b_b1f123b1db4edee8d760c4e21f926f177ba7e3f3

NEXT_PUBLIC_APP_URL=http://localhost:3000
